<h1>Add a Customer</h1>

<form method="post" action="/customers">
	<div class="form-group">
		<label for="Name">Name:</label>
		<input type="text" id="Name" name="Name" />
	</div>
	<div class="form-group">
		<label for="EmailAddress">Email:</label>
		<input type="text" id="EmailAddress" name="EmailAddress" />
	</div>
	<button type="submit">Create Customer</button>
</form>